.about-page {
  .site-header {
    position: absolute;
    left: 0;
    right: 0;
    background: none;
    border-bottom: none;
  }
  .main-navigation {
    a {
      color: #fff;
      &:hover {
        color: $color_yellow;
      }
    }
  }
  .search-bar {
    .search-submit {
      .fa {
        color: #fff;
        &:hover {
          color: $color_yellow;
        }
      }
    }
    input[type=text] {
      color: #fff;
      &::placeholder {
        color:$color_yellow;
      }
    }
  }

  .template-container {
    max-width: 100%;
    margin-top:0;
    .content-area {
      padding: 0;
      .site-main {
        max-width: 100%;
        .entry-content {
          max-width: 100%;
          margin: 0;
          margin-bottom:4rem;
          h2 {
            margin:0;
          }
        }
        .entry-header {
          display: none;
        }
        p {
          max-width: 850px;
          margin: 0 auto;
          padding: 1rem;
        }
        h2 {
          text-align: center;
        }
        nav {
          a:hover {
            color: $color_yellow;
          }
        }
      }
    }
  }
}

.hero-image-header {
  max-width: 100%;
  width: auto;
  height: 700px;
  margin-bottom:3rem;
  .entry-title {
    color: #fff;
    font-size:48px;
    font-family:$font_accent_normal;
  }
}
