/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Journal Home */

.read-more {
	text-transform: uppercase;
	text-decoration: none;
	border: 1px solid #000;
	padding: 0.8rem 1.8rem;
	font-family: $font_accent;
	font-size: 14px;
	&:hover {
	  background-color: $color_green;
	  color: #fff;
	  border: 1px solid $color_green;
	}
	&:visited {
	  color: #000;
	}
  }

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}
