.site-footer {
  color: #fff;
}
.footer-background {
  height: 350px;
  text-align: center;
  padding: 40px 100px;
}
.site-info {
  display: flex;
  width: 100%;
  flex-direction: row;
  text-align: left;
  h2 {
    color: $color_orange;
    text-transform: uppercase;
  }
  .contact {
    display: block;
    max-width: 300px;
    flex-basis: 20%;
    margin-left: 3rem;
    span {
      font-size: 20px;
      color: #fff;
      margin: 5px;
    }
    a {
      color: #fff;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
      &:visited {
        color: #fff;
      }
    }
  }
  .business-hours {
    display: block;
    flex-basis: 50%;
    span {
      font-weight: bold;
    }
  }
  .footer-logo {
    width: 300px;
    height: 80px;
    margin-top: 2rem;
    text-align: right;
  }
}
.copyright {
  text-align: center;
  text-transform: uppercase;
  font-family: $font_accent_normal;
}
