.site-info {
    background-image: url("../../images/dark-wood.png");
    background-size: 512px 512px;
    text-align: center;
    width:1400px;
    padding:100px;
    color:white;
    display:flex;
    align-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    h2 {
        color:orange;
    }
    .contact {
        display:block;
        max-width: 300px;
        padding:2rem;
    }
    .business-hours {
        display:block;
        max-width: 300px;
        padding:2rem;
        span {
            font-weight: bold;
        }
    }
    .footer-logo {
        background-image: url("../../images/logos/inhabitent-logo-text.svg");
        z-index: 1;
        width: 300px;
        height: 80px;
        background-size: contain;
        background-repeat:no-repeat;
    }
    .copyright {
    text-align: center;
    }
}
