.front-page {
  .site-header {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
  }

  h1 {
    text-align: center;
    text-transform: uppercase;
    font-family: $font_accent_normal;
    font-size: 2.5rem;
    font-weight: 400;
    margin-top: 4rem;
  }

  .template-container {
    max-width: 100%;
    margin: 0 auto;
    .content-area {
      padding: 0;
    }
  }

  .home-hero-image {
    .home-hero {
      position: relative;
    }
    .tent-logo {
      img {
        position: absolute;
        left: 40%;
        top: 20%;
        z-index: 1;
      }
    }
  }

  .home-container {
    max-width: 1200px;
    margin: 0 auto;
  }
  .home-shop-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.25rem;
  }

  .home-shop-item {
    border: 1px $solid_border;
    margin: 2rem 0;
    border-top: 5px $solid_border;
    &:hover {
      border: 1px solid $color_orange;
      border-top: 5px solid $color_orange;
    }
    .shop-icon {
      margin: 1rem;
      img {
        display: block;
        margin: 0 auto;
        height: 75px;
      }
    }
    .category-description {
      text-align: center;
      margin: 1rem;
    }
    .category-btn {
      font-family: $font_accent_normal;
      text-align: center;
      p {
        margin: 2rem;
        a {
          margin: 0 1rem;
          background-color: $color_green;
          border: 1px solid $color_green;
          color: #fff;
          text-transform: uppercase;
          text-decoration: none;
          padding: 1rem;
          &:hover {
            background-color: darken($color_green, 10%);
            color: #fff;
          }
        }
      }
    }
  }

  .home-post-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin: 4rem 0 6rem;
    .home-post-item {
      border: 1px $solid_border;
      h2 {
        margin: 0;
        height:105px;
        a {
          text-decoration: none;
          font-size: 24px;
        }
      }
      .post-image {
        max-width: 100%;
        margin: 0 auto;
        img {
          display:block;
          height: 260px;
        }
      }
      .post-info-container {
        border-top: 5px $solid_border;
        padding: 1rem;
        height: 220px;
        position:relative;
        p {
          margin: 0;
          a {
            color: #000;
            &:hover {
              color: #fff;
            }
          }
        }
        .posted-on {
          font-size: 13px;
        }
        .read-more {
          position: absolute;
        }
      }
    }
  }
}
