.site-content {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  .content-area {
    flex: 3;
    padding-right: 2rem;
  }
  .entry-title {
    color: $color__text-main;
    text-transform: uppercase;
  }
}
.template-container {
  max-width: 1120px;
  margin: 20px auto 0;
}

/* Additional Styling For Journal */

.type-post,
.journal-entry {
  .entry-header {
    position: relative;
    .entry-title {
      background-color: $color_green;
      width: 580px;
      position: absolute;
      padding: 0.5rem 2rem;
      line-height: 1.25;
      left: 0;
      top: 3rem;
      h1 {
        margin: 0;
      }
      a {
        color: #fff;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 33.6px;
      }
    }
  }
  img {
    width: 800px;
    margin-top: 2rem;
  }
  p {
    margin: 1.5rem 0;
  }

  .entry-meta {
    background-color: $color_green;
    color: #fff;
    font-family: $font_accent_normal;
    text-transform: uppercase;
    position: absolute;
    padding: 2px 2rem;
    right: 0;
    bottom: 8px;
  }
  .read-more {
    a {
      color: #000;
    }
    &:visited {
      color: #000;
    }
  }
}

.single-post {
  .entry-title {
    color: #fff;
    font-size: 33.6px;
  }
  .entry-footer {
    font-family: $font_accent_normal;
    text-transform: uppercase;
    a {
      text-decoration: none;
    }
    .cat-links {
      margin: 0 3rem 0 0;
    }
    .social-media-btn {
      margin: 2rem 0;
      a {
        font-family: $font_accent_normal;
      }
    }
  }
}

.read-more {
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid #000;
  padding: 0.8rem 1.8rem;
  font-family: $font_accent_normal;
  font-size: 14px;
  a {
    color: #000;
  }
  &:visited {
    color: #000;
  }
  &:hover {
    background-color: $color_green;
    color: #fff;
    border: 1px solid $color_green;
  }
}

/* Find Us */

.find-us-page {
  .entry-content {
    margin-bottom: 7rem;
    iframe {
      width: 750px;
    }
  }
}

/* Archives */
.date, .search-results {
  .page-title {
    color: #404040;
    font-size: 40px;
    border-bottom: 1px $solid_border;
    padding-bottom: 10px;
  }
}

.site-main {
  margin-bottom: 8rem;
  .post-article {
    margin-bottom: 5rem;
  }
}

/* Search Results */
.entry-title-result {
  a {
  text-decoration: none;
  font-size:34px;
  }
}
.entry-meta-result {
  font-family:$font-accent_normal;
  font-size:18px;
  font-weight:200;
}
.entry-summary {
  margin-bottom:5rem;
}
