/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

.site-content {
    max-width:1400px;
    width: 100%;
    margin:0 auto;
    background-color:#ccc;
    display:flex;
    .content-area {
        flex:2;
        background-color: orange;
    }
    .widget-area {
        flex:1;
        background-color: yellow;
        padding-left:3rem;
        border-left:1px solid #e1e1e1;
    }
}

/* Front page */

.site-header {
    border-bottom: 1px solid #e1e1e1;
}