/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/

.widget {
  margin: 0 0 $base__space-unit;

  /* Make sure select elements fit in widgets. */
  select {
    max-width: 100%;
  }
}

.widget-area {
  flex: 1;
  padding-left: 3rem;
  border-left: 1px solid #e1e1e1;
  h2 {
    text-transform: uppercase;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    a {
      text-decoration: none;
    }
  }
}

/* Search widget. */
.widget_search .search-submit {
  display: none;
}
